$white: #ffffff;
$black: #000000;
$grey0: #8e8e93;
$grey1: #aeaeb2;
$grey2: #c7c7cc;
$grey3: #d1d1d6;
$grey4: #e5e5ea;
$grey5: #f2f2f7;

$greyBackground: #252525;
$mediumGreyBackground: #1d1d1d;
$darkGreyBackground: #1b1b1b;
$darkerGreyBackground: #131313;

$transparent: transparent;
$green: #4bb543;
$yellow: #ffbe0b;
$orange: #fb5607;
$red: #fd2b3b;
$pink: #ff006e;
$purple: #8338ec;
$blue: #3a86ff;
$softBlue: #2879bc;

$successGreen: #4bb543;
$warningYellow: #ffff00;
$errorRed: #ee4b2b;
