$dark-color: #111b29;
$main-color: #f4cf70;
$success: #9ef7b9;
$error: #ff0033;
$error-back: #ffc4d0;
$maingrey: #f9f9f9;
$nav-color: #008b8b;
$next-dark: #333b48;
$less-dark: #18273b;
$dark-main: #dda411;
